<div id="tu">
  <div id="logo">
    <div><img src="images/xb.png" alt=""></div>
    <p>登陆</p>
  </div>
  <div id="touxiang">
    <div><img src="images/tx.png" alt=""></div>
  </div>
  <div id="input">
    <div id="input-f">
      <input type="text" value="username" id="input-ff" ng-model="updata.username">
    </div>
    <div id="input-t">
      <input type="password" value="password" id="input-tt" ng-model="updata.password">
    </div>

  </div>

  <div id="denglu" ng-click="denglu()">
    <a href="">登录</a>
  </div>
  <div class="cc"><input type="checkbox" ng-model="check"/><a href="javasript:;">免登陆</a></div>
  <div id="but">
    <span id="zhuce"><a href="javasript:;" ui-sref="zhuce">注册</a></span>
    <span><a href="javasript:;">忘记密码？</a></span>
  </div>
</div>
